.git
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb
.env
.env.local
.local/
logs/
assets/
node_modules/
.vscode/
.mypy_cache/
.pytest_cache/
duplicate_finder.ipynb
test_data/
*.egg-info/
dist/
build/
.tmp/
